<!-- Go to top -->
<div id="gototop">
    <a href="#"><h8>▲Top</h8></a>
</div>

<!-- Copyright -->
<div id="copyright">
    <ul class="links">
        <li>Copyright © 2022 Caitlin | All Rights Reserved</li>
    </ul>
</div>
