<title>Penguin Cabin</title>
<meta charset="utf-8" />
<meta name="description" content="Penguin Cabin By Caitlin. Let's see the cute penguins!" />
<meta property="og:title" content="Penguin Cabin" />
<meta property="og:url" content="https://penguincabin.herokuapp.com/" />
<meta property="og:type" content="website" />
<meta property="og:description" content="Penguin Cabin By Caitlin. Let's see the cute penguins!" />
<meta property="og:image" content="images/og.png" />		
<meta name="keywords" content="Penguin, penguin person, penguin cabin" />
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
<link rel="icon" href="images/icon_penguin_r.ico">
<link rel="apple-touch-icon" href="images/icon_penguin_s.ico">
<link rel="stylesheet" href="/stylesheets/css/main.css" />
