<!-- Header -->
<section id="header">

    <!-- Logo -->
        <h1><a href="/">Penguin Cabin</a></h1>

    <!-- Nav -->
        <nav id="nav">
            <ul>
                <li><a href="/">Penguins</a></li>
                <li><a href="/map">Map</a></li>
                <li><a href="/news">News</a></li>
                <li><a href="/message">Message</a></li>
            </ul>
        </nav>

</section>
