<!DOCTYPE HTML>
<!--
	Dopetrope by HTML5 UP
	Design by Caitlin
-->
<html>
	<head>
		<%- include ("../../partials/header.ejs") %>	
	</head>
	<body class="homepage is-preload">
		<div id="page-wrapper">

			<!-- Penguin header -->
			<%- include ("../../partials/penguin-header.ejs") %>	


			<!-- Main -->
			<section id="main">
				<div class="container">
					<div class="row">
						<div class="col-12">

							<!-- Portfolio -->
								<section>
									<header class="major">
										<h2>Adelie Penguin</h2>
									</header>
									
									<div class="row">
                                        <div class="col-4-center col-4-medium-center col-10-small-center">
                                            <section class="penguinintrobox">
                                                <a href="https://zh.wikipedia.org/wiki/%E9%98%BF%E5%BE%B7%E5%88%A9%E4%BC%81%E9%B5%9D" class="image featured" target="_blank">
                                                    <img src="images/a3_adelie.png" alt="" title="Go to Wikipedia"/></a>
                                            </section>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-4-center-info col-4-medium-center-info col-10-small-center-info">
											<section class="penguinintrobox">
												<header>
													<h3center>阿德利企鵝<br>Adelie Penguin</h3center>
												</header>    
												<h10>阿德利企鵝屬 Pygoscelis</h10><br>
												<h10>學名: Pygoscelis adeliae</h10><br>
												<h10>別名: 阿黛利企鵝</h10><br>
												<h10>棲息地: 南極洲海岸</h10><br><br>
												<h10>阿德利企鵝為南極海岸及其附近島嶼一種常見企鵝。除了景風海燕，牠們是分佈於最南方之地的海鳥。阿德利企鵝得名於阿黛利地。而阿黛利地又是法國探險家儒勒·迪蒙·迪維爾以自己的妻子阿德利命名。迪維爾於1840年發現了阿德利企鵝。</h10><br><br>
												<h10>阿德利企鵝長約30至50公分，平均重4.5公斤。頭部呈藍綠色，嘴為黑色，眼圈呈白色，嘴角亦有細長的白色羽毛圍繞，甚至掩蓋著其黑色喙的大部分面積。其尾部比其他企鵝的尾部稍長。</h10><br><br>
												<h10>有人認為Linux的主要吉祥物Tux是阿德利企鵝，但由於只是根據其羽毛來分辨，故並不一定是阿德利企鵝。電影《馬達加斯加》（Madagascar）中，那些馬達加斯加企鵝（Madagascar Penguins）一直被認為就是阿德利企鵝。</h10><br><br>
											</section>    
										</div>    
									</div>

									<div id="editicon">
										<a href="/add-pengins-photo"><img src="images/edit.png" alt="" title="Add penguin photo"/></a>
									</div>
                                    
                                    <div class="row">

                                        <div class="col-4 col-6-medium col-12-small">
                                            <section class="penguinpic"><a class="image featured">
                                                <img src="https://alumni.harvard.edu/sites/default/files/styles/trip_photo/public/trip/main_photo/_web_Peguins_0.jpg?itok=qaignJ55" alt="" />
                                            </a></section>
                                        </div>
                                        
                                        
                                        <div class="col-4 col-6-medium col-12-small">
                                            <section class="penguinpic"><a class="image featured">
                                                <img src="https://s.iw.ro/gateway/g/ZmlsZVNvdXJjZT1odHRwJTNBJTJGJTJG/c3RvcmFnZTA3dHJhbnNjb2Rlci5yY3Mt/cmRzLnJvJTJGc3RvcmFnZSUyRjIwMTcl/MkYxMCUyRjEzJTJGODMxODUzXzgzMTg1/M182NjAxMDQ3MzgzXzlhNzkzYzEwMGFf/ei5qcGcmdz03ODAmaD00NDAmaGFzaD03/Y2NmNThjMjFlMzdjYWIzODg1YjE5NzVhYzBiMGJjNA==.thumb.jpg?tmp=2022-01-15-22-01-56&app=req-61e3283443f42&retry=1" alt="" />
                                            </a></section>
                                        </div>

                                        <div class="col-4 col-6-medium col-12-small">
                                            <section class="penguinpic"><a class="image featured">
                                                <img src="https://cff2.earth.com/uploads/2018/12/14133353/Satellite-images-reveal-new-clues-about-Ade%CC%81lie-Penguins-in-Antarctica-960x640.png" alt="" />
                                            </a></section>
                                        </div>

                                            
                                    </div>

                                
								</section>

						</div>
						<div class="col-12">


						</div>
					</div>
				</div>
			</section>

			<!-- Penguin Footer -->
			<%- include ("../../partials/penguin-footer.ejs") %>	
			
		

	</div>

	<!-- Scripts -->
	<%- include ("../../partials/scripts.ejs") %>	
</body>
</html>