<!DOCTYPE HTML>
<!--
	Dopetrope by HTML5 UP
	Design by Caitlin
-->
<html>
	<head>
		<%- include ("../../partials/header.ejs") %>	
	</head>
	<body class="homepage is-preload">
		<div id="page-wrapper">

			<!-- Penguin header -->
			<%- include ("../../partials/penguin-header.ejs") %>	


			<!-- Main -->
			<section id="main">
				<div class="container">
					<div class="row">
						<div class="col-12">

							<!-- Portfolio -->
								<section>
									<header class="major">
										<h2>Humboldt Penguin</h2>
									</header>
									
									<div class="row">
                                        <div class="col-4-center col-4-medium-center col-10-small-center">
                                            <section class="penguinintrobox">
                                                <a href="https://zh.wikipedia.org/wiki/%E6%BC%A2%E6%B3%A2%E5%BE%B7%E4%BC%81%E9%B5%9D" class="image featured" target="_blank">
                                                    <img src="images/a9_humboldt.png" alt="" title="Go to Wikipedia"/></a>
                                            </section>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-4-center-info col-4-medium-center-info col-10-small-center-info">
											<section class="penguinintrobox">
												<header>
													<h3center>洪堡德企鵝<br>Humboldt Penguin</h3center>
												</header>    
												<h10>環企鵝屬 Spheniscus</h10><br>
												<h10>學名: Spheniscus humboldti</h10><br>
												<h10>別名: 漢波德企鵝、洪氏環企鵝、洪堡企鵝</h10><br>
												<h10>棲息地: 南美洲、秘魯、智利沿岸</h10><br><br>
												<h10>漢波德企鵝名字來自於第一個介紹此物種給西方學界的德國自然科學家亞歷山大·馮·洪堡。漢波德企鵝是中型的企鵝，成鳥約65-70公分高。頭部呈黑色，有一條白色寬帶從眼後過耳朵一直延伸至下頜附近；有的背部帶有白色斑點。</h10><br><br>
												<h10>漢波德企鵝的保護現狀為易危，主要由於過度捕漁導致族群數量下降。現存數量估計在32,000 隻之間。然而形成對比的是，在日本動物園中的洪堡企鵝因為適應了環境反而大量繁殖，園方不得不用石膏等材料製成假蛋、將真正的企鵝蛋換掉來抑制種群的增長。</h10><br><br>
												<h10>漢波德企鵝曾在北半球被發現；2002年夏天，阿拉斯加漁民在阿拉斯加東南沿海捕獲一隻漢波德企鵝，距離其原棲地至少有 11,000 公里遠。由於阿拉斯加當地並沒有任何動物園飼養漢波德企鵝，生物學家認為該企鵝可能原來是智利或秘魯漁民的寵物，在該漁船在阿拉斯加捕魚時逃逸。</h10><br><br>
											</section>    
										</div>    
									</div>

									<div id="editicon">
										<a href="/add-pengins-photo"><img src="images/edit.png" alt="" title="Add penguin photo"/></a>
									</div>
                                    
                                    <div class="row">

                                        <div class="col-4 col-6-medium col-12-small">
                                            <section class="penguinpic"><a class="image featured">
                                                <img src="https://therevelator.org/wp-content/uploads/2018/02/humboldt-penguin-ivan-torres.jpg" alt="" />
                                            </a></section>
                                        </div>

                                        <div class="col-4 col-6-medium col-12-small">
                                            <section class="penguinpic"><a class="image featured">
                                                <img src="https://www.rainforest-rescue.org/photos/article/wide/xl/pinguine-chile-stefan-goerlitz.jpg" alt="" />
                                            </a></section>
                                        </div>
                                        
                                        <div class="col-4 col-6-medium col-12-small">
                                            <section class="penguinpic"><a class="image featured">
                                                <img src="https://stories.isu.pub/76154803/images/1_original_file_I0.jpg" alt="" />
                                            </a></section>
                                        </div>

                                            
                                    </div>

                                
								</section>

						</div>
						<div class="col-12">


						</div>
					</div>
				</div>
			</section>

			<!-- Penguin Footer -->
			<%- include ("../../partials/penguin-footer.ejs") %>	
			
		

	</div>

	<!-- Scripts -->
	<%- include ("../../partials/scripts.ejs") %>	
</body>
</html>