<!DOCTYPE HTML>
<!--
	Dopetrope by HTML5 UP
	Design by Caitlin
-->
<html>
	<head>
		<%- include ("../partials/header.ejs") %>	
	</head>
	<body class="homepage is-preload">
		<div id="page-wrapper">

			<!-- Penguin header -->
			<%- include ("../partials/penguin-header.ejs") %>	


			<!-- Main -->
			<section id="main">
				<div class="container">
					<div class="row">
						<div class="col-12">

							<!-- Portfolio -->
								<section>
									<header class="major">
                                        <!-- TODO Add for Specified penguin-->
										<h2>Add a photo for penguin</h2>
									</header>
									

									<div class="row">

										<div class="col-7-center col-9-medium-center col-12-small">
											<section class="box">

                                                <section class="mes-send">
                                                    <form method="post" action="/add-pengins-photo">
                                                        
                                                        <div class="form-group">
                                                            <label for="penguin_kind">Penguin:</label>
															<select name="penguin_kind">
																<option value="emperor">Emperor 帝王</option>
																<option value="king">King 國王</option>
																<option value="littleBlue">LittleBlue 小藍</option>
																<option value="adelie">Adelie 阿德利</option>
																<option value="chinstrap">Chinstrap 頰帶</option>
																<option value="gentoo">Gentoo 巴布亞</option>
																<option value="african">African 黑腳</option>
																<option value="humboldt">Humboldt 洪堡德</option>
																<option value="magellanic">Magellanic 麥哲倫</option>
																<option value="galapagos">Galapagos 加拉帕戈</option>
																<option value="macaroni">Macaroni 馬可羅尼</option>
																<option value="royal">Royal 皇家</option>
																<option value="yellowEyed">YellowEyed 黃眼</option>
																<option value="fiordland">Fiordland 福德蘭</option>
																<option value="erectCrested">ErectCrested 冠毛</option>
																<option value="snares">Snares 史納爾島</option>
																<option value="northernRockhopper">NorthernRockhopper 北跳岩</option>
																<option value="southernRockhopper">SouthernRockhopper 南跳岩</option>
															</select>
                                                         </div>

                                                        <div class="form-group">
                                                            <label for="penguin_photo">Photo Url<span style="color: rgb(226, 35, 35);">*</span>:</label>
                                                            <input type="text" id="penguin_photo" name="penguin_photo" placeholder="e.g. https://example/xxx.png">
                                                         </div>

                                                         <footer>
                                                            <ul class="actions">
                                                                <li><button type="submit" class="button alt">Submit</button></li>
                                                                <li><a onclick="history.back()" class="button alt">Cancel</a></li>
                                                            </ul>
                                                        </footer>
                                                                 
                                                    </form>
                                                </section>       

											</section>
										</div>


									</div>
								</section>

						</div>
						<div class="col-12">


						</div>
					</div>
				</div>
			</section>

		<!-- Footer -->
		<%- include ("../partials/footer.ejs") %>	
		

		</div>

	<!-- Scripts -->
	<%- include ("../partials/scripts.ejs") %>	
			


</body>
</html>