<!DOCTYPE HTML>
<!--
	Dopetrope by HTML5 UP
	Design by Caitlin
-->
<html>
	<head>
		<%- include ("../partials/header.ejs") %>	
	</head>
	<body class="homepage is-preload">
		<div id="page-wrapper">

			<!-- Header -->
			<section id="header">

				<!-- Logo -->
					<h1><a href="/">Penguin Cabin</a></h1>

				<!-- Nav -->
					<nav id="nav">
						<ul>
							<li><a href="/">Penguins</a></li>
							<li><a href="/map">Map</a></li>
							<li class="current"><a href="/news">News</a></li>
							<li><a href="/message">Message</a></li>
						</ul>
					</nav>

			</section>

			<!-- Main -->
			<section id="main">
				<div class="container">
					<div class="row">
						<div class="col-12">

							<!-- Portfolio -->
								<section>
									<header class="major">
										<h2>Add Penguins News</h2>
									</header>
									

									<div class="row">

										<div class="col-7-center col-9-medium-center col-12-small">
											<section class="box">

                                                <section class="mes-send">
                                                    <form method="post" action="send.php">

                                                        <div class="form-group">
                                                            <label for="news_title">Title<span style="color: rgb(226, 35, 35);">*</span>:</label>
                                                            <input type="text" id="news_title" name="news_title" placeholder="Ex: 企鵝寶寶萌翻天，十萬人都驚呆！" required="required">
                                                         </div>

                                                        <div class="form-group">
                                                            <label for="news_url">News Url<span style="color: rgb(226, 35, 35);">*</span>:</label>
                                                            <input type="text" id="news_url" name="news_url" placeholder="Ex: https://www.example.com/" required="required">
                                                         </div>

                                                        <div class="form-group">
                                                            <label for="news_photo_url">News Photo Url:</label>
                                                            <input type="text" id="news_photo_url" name="news_photo_url" placeholder="Ex: https://example/xxx.png">
                                                         </div>

                                                         <div class="form-group">
                                                             <label for="news_content">News Content:</label>
                                                             <textarea id="news_content" name="news_content" placeholder="Content..."></textarea>
                                                            </div>
                                                            
                                                            <div class="form-group">
                                                                <label for="news_tags">Tags:</label>
                                                                <input type="text" id="news_tags" name="news_tags" placeholder="Emperor">
                                                             </div>
    
                                                         <footer>
                                                            <ul class="actions">
                                                                <li><a href="" class="button alt">Submit</a></li>
                                                                <li><a onclick="history.back()" class="button alt">Cancel</a></li>
                                                            </ul>
                                                        </footer>
                                                                 
                                                    </form>
                                                </section>       

											</section>
										</div>


									</div>
								</section>

						</div>
						<div class="col-12">


						</div>
					</div>
				</div>
			</section>

		<!-- Footer -->
		<%- include ("../partials/footer.ejs") %>	

		

	</div>

	<!-- Scripts -->
	<%- include ("../partials/scripts.ejs") %>	

</body>
</html>