<!DOCTYPE HTML>
<!--
	Dopetrope by HTML5 UP
	Design by Caitlin
-->
<html>
	<head>
		<%- include ("../partials/header.ejs") %>	
	</head>
	<body class="homepage is-preload">
		<div id="page-wrapper">

			<!-- Header -->
				<section id="header">

					<!-- Logo -->
						<h1><a href="/">Penguin Cabin</a></h1>

					<!-- Nav -->
						<nav id="nav">
							<ul>
								<li><a href="/">Penguins</a></li>
								<li class="current"><a href="/map">Map</a></li>
								<li><a href="/news">News</a></li>
								<li><a href="/message">Message</a></li>
							</ul>
						</nav>

				</section>

			<!-- Main -->
			<section id="main">
				<div class="container">
					<div class="row">
						<div class="col-12">

							<!-- Portfolio -->
								<section>
									<header class="major">
										<h2>Map of World Penguins</h2>
									</header>
									
									<div class="row">
										<div class="col-12 col-12-medium col-12-small">
											<section class="penguinpic">
												<a href="images/penguin_map_name.jpg" class="image featured" target="_blank"><img src="images/penguin_map_name.jpg" alt="" title="Open Map"/></a>
											</section>
										</div>
									</div>
								</section>
						</div>
					</div>
					<h13>Drawn by <a href="https://www.instagram.com/p/B_peIwyBArp/?utm_medium=copy_link" target="_blank" title="Slaveika Aladjova">Slaveika</a></h13>
				</div>
			</section>

			<!-- Footer -->
			<%- include ("../partials/footer.ejs") %>	

		

		</div>

	<!-- Scripts -->
	<%- include ("../partials/scripts.ejs") %>	

</body>
</html>